<div style="display: flex; justify-content: center;">
  <% if notice %>
    <p class="text-center alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
     <p class="text-center alert alert-danger"><%= alert %></p>
  <% end %>
</div><br/>
